.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #023047;
  height: 462px;
  gap: 13px;
}

.container > h1 {
  font-family: Raleway;
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
  text-align: center;
}

.container > p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.AppButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 45px;
}

.AppButtonContainer > button {
  all: unset;
  background: black;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  width: 310px;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 20px 31px 20px 31px;
}

@media screen and (max-width: 840px) {
  .container > h1 {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
  }
  .container > p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  .AppButtonContainer > button {
    width: 220px;
    height: 100px;
    padding: 20px 31px 20px 31px;
  }
}

@media screen and (max-width: 420px) {
  .container > h1 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
  }
  .container > p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  .AppButtonContainer {
    flex-direction: column;
    width: 310px;
    height: 84px;
    padding: 12px 31px 12px 31px;
    gap: 14px;
    padding-bottom: 100px;
  }
}
