.container {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  align-items: center;
}

.container > h1 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 900;
  line-height: 46.96px;
}

.linksContainer,
.visibleLinkContainer {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.linksContainer > button,
.visibleLinkContainer > button {
  all: unset;
  padding: 16px 32px 16px 32px;
  border-radius: 24px;
}

.linksContainer > button:hover,
.visibleLinkContainer > button:hover {
  background-color: #023047;
}

.burgerButton {
  display: none;
}

@media screen and (max-width: 840px) {
  .linksContainer,
  .visibleLinkContainer {
    gap: 12px;
  }

  .linksContainer > button,
  .visibleLinkContainer > button {
    height: 24px;
    padding: 12px 20px 12px 20px;
  }
}
@media screen and (max-width: 420px) {
  .container {
    position: relative;
  }
  .container > h1 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 900;
    line-height: 42.26px;
  }
  .visibleLinkContainer {
    display: none;
  }
  .linksContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .linksContainer > nav > button :hover {
    background: #da722c;
  }
  .burgerButton {
    all: unset;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 13.33px 6.67px 13.33px 6.67px;
  }
  .linksContainer > button {
    padding: 12px 20px 12px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linksContainer > nav > button {
    padding: 12px 20px 12px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    color: white;
    border: none;
    outline: none;
    width: 164px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    transition: background-color 0.3s;
  }
  .linksContainer > .closebutton {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 46.96px;
    position: relative;
    top: -20px;
    right: -100px;
  }
  .linksContainer > .hover:hover {
    background-color: #da722c;
  }
  @media (hover: hover) {
    .hover:hover {
      background-color: #da722c;
    }
  }
}
