.container {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  align-items: center;
}

.container > h1 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 900;
  line-height: 46.96px;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.linksContainer > button {
  all: unset;
  padding: 16px 32px 16px 32px;
  border-radius: 24px;
}

.linksContainer > button:hover {
  background-color: #023047;
}
