.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to top,
    #26308c,
    #3942a7,
    #4b55c2,
    #5d69de,
    #6f7dfb
  );
  height: 785px;
  gap: 56px;
  color: #fff;
}

.container > h1 {
  font-family: Raleway;
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
  text-align: center;
}

.container > button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 59px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  padding: 16px 32px 16px 32px;
  background: #da722c;
  border-radius: 24px;
}

.coursesDetail {
  display: flex;
  gap: 73px;
}

@media screen and (max-width: 840px) {
  .container {
    height: 1225px;
  }
  .container > h1 {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    margin-top: 70px;
  }
  .coursesDetail {
    flex-direction: column;
  }
  .coursesDetail > img {
    width: 632px;
    height: 373px;

    border-radius: 24px;
  }
  .container > button {
    width: 157px;
    height: 48px;
    padding: 12px 32px 12px 32px;
    border-radius: 24px;
    margin-bottom: 70px;
    position: relative;
    left: 124px;
  }
}

@media screen and (max-width: 420px) {
}
