.container {
  color: #fff;
  padding: 0px 116px;
  height: 768px;
  background: linear-gradient(
    to top,
    #26308c,
    #3942a7,
    #4b55c2,
    #5d69de,
    #6f7dfb
  );
}

@media screen and (max-width: 845px) {
  .container {
    padding: 0px 60px;
    height: 1194px;
  }
}
@media screen and (max-width: 420px) {
  .container {
    height: 896px;
    padding: 62px 32px 0px 32px;
  }
}

/* @media screen and (max-width: 840px) {
  .container {
  }
}
@media screen and (max-width: 420px) {
  .container {
  }
} */
